@import "tailwindcss";

@theme inline {
  --color-background: #05050A;
  --color-foreground: #ffffff;
  --font-inter: var(--font-inter);
  --font-outfit: var(--font-outfit);
  --font-bowlby: var(--font-bowlby);
}

/* Custom Scrollbar for better UI */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
}
